.search_input {
  width: 350px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  color: var(--secondary-color);
  font-size: 16px;
  outline: none;
}

.search_input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.search_input:focus {
  caret-color: var(--secondary-color);
}
