@import "../../utilities/variables";

.movie__details_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $size-md;
  padding: $size-lg 0;

  button {
    background: none;
    border: none;
    color: $secondary-color;
    cursor: pointer;
    position: absolute;
    right: 0;
    padding: $size-sm;
  }
}

.movie__details_poster_wrapper {
  position: relative;
  width: 300px;
}

.movie__details_poster {
  width: 100%;
  height: auto;
  border-radius: $size-sm;
}

.movie__details_info {
  text-align: center;
  border-radius: $size-lg;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  padding: 0 $size-md;
}

.movie__details_item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $size-sm;
  gap: $size-sm;
}

.movie__details_item svg {
  color: #f0c040;
}

.movie__details_description {
  max-width: 350px;

  line-height: $size-lg;
}
