@import "../../utilities/variables";

.movie__card {
  color: $secondary-color;
  text-decoration: none;
}

.movie__card_poster {
  height: 300px;
  width: 225px;

  @media (min-width: $lg-screen) {
    height: 400px;
    width: 300px;
  }
}
