@import "../../utilities/variables";

.search__results_wrapper {
  width: 100%;
  max-width: 350px;
  position: relative;
  margin: 0 auto;
  padding: $size-lg 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $sm-screen) {
    max-width: 600px;
  }

  @media (min-width: $lg-screen) {
    padding: $size-lg 0;
    max-width: 800px;
  }

  > p {
    display: flex;
    align-items: center;
    height: 150px;

    @media (min-width: $sm-screen) {
      height: 200px;
    }

    @media (min-width: $lg-screen) {
      height: 250px;
    }
  }
}

.search__results_list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: $size-lg;
  justify-content: center;
}

.search__results_buttons {
  position: absolute;
  transform: translateY(-50%);
  width: 100%;
  pointer-events: none;
  display: flex;

  button {
    color: $secondary-color;
    background-color: transparent;
    border: none;
    cursor: pointer;
    pointer-events: auto;
    position: absolute;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    font-size: 24px;
  }

  @media (min-width: $lg-screen) {
    top: 50%;
    margin-top: 0;
  }
}

.search__results_back_button {
  left: 20px;
  justify-content: flex-start;

  @media (min-width: $lg-screen) {
    left: 100px;
  }
}

.search__results_forward_button {
  right: 20px;
  justify-content: flex-end;

  @media (min-width: $lg-screen) {
    right: 100px;
  }
}
