@import "./utilities/variables";
@import "../node_modules/normalize.css/normalize.css";

:root {
  color: $secondary-color;
  background: $gradient;
  font-family: $font-family-base;
  height: 100%;
}
