@import "../../utilities/variables";

.contact__text {
  margin: $size-xxl $size-lg;
  text-align: center;
}

.contact__logo_wrapper {
  display: flex;
  justify-content: space-evenly;
}

.contact__logo {
  fill: $secondary-color;
  color: $secondary-color;
}
